<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.UserMapper">
<select id="getUser" resultType="com.test.model.User" parameterType="String">
select * from user where id=#{id}
</select>
<select id="updateUser" resultType="int" parameterType="User">
update user set password=#{password} where id=#{id}
</select>
<select id="insertUser" resultType="int" parameterType="User">
insert into user (id,username,password) values (#{id},#{username},#{password})
</select>
<select id="deleteUser" resultType="int" parameterType="User">
delete from user where id=#{id}
</select>
</mapper>