<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.UserMapper">
<select id="getUser" resultType="com.test.model.User" parameterType="String">
select username,password from user where id=#{id}
</select>

<update id="updateUser"  parameterType="user">
update user set password=#{password} where id=#{id}
</update>

<insert id="insertUser"  >
insert into user (id,username,password) values (#{id},#{username},#{password})
</insert>

<update id="deleteUser"  parameterType="user">
update user set isDeleted='Y' where id=#{id}
</update>

</mapper>